body {
    background: white
}

.buttoncont {
    display: flex;
    justify-content: center;
}

.newbutton {
    background-color: lavender;
    border: none;
    color: white;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    padding: 3px 6px;
    text-align: center;
    transition-duration: 0.6s;
}

.newbutton:hover{
    background-color: pink;
    color: white;
}

.container {
    margin: auto;
    height: 960px;
    width: 960px;
}

.row {
    display: flex;
    gap: 2px;
    padding: 1px;
}

.box {
    background-color: lavender;
    box-sizing: border-box;
    flex: 1 1 auto;
}

.box::before {
    content: '';
    display: block;
    padding-top: 100%;
}